<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>ece1779.appengine.servlets.Welcome</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchFlight</servlet-name>
		<servlet-class>ece1779.appengine.servlets.SearchFlight</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Details</servlet-name>
		<servlet-class>ece1779.appengine.servlets.Details</servlet-class>
	</servlet>

	<servlet>
	    <servlet-name>ClearDatabase</servlet-name>
	    <servlet-class>ece1779.appengine.datastore.ClearDatabase</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>LoadDatabase</servlet-name>
	    <servlet-class>ece1779.appengine.datastore.LoadDatabase</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchFlight</servlet-name>
		<url-pattern>/SearchFlight</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Details</servlet-name>
		<url-pattern>/Details</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>ClearDatabase</servlet-name>
	    <url-pattern>/data/drop</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>LoadDatabase</servlet-name>
	    <url-pattern>/data/load</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>